/*body{
background-image: url("background.jpg");
background-position: center;
background-size: cover;
}*/

.navbar.navbar-default.navbar-fixed-top {
  min-height: 80px;
  opacity: 0.6;
  top: 0
}

.container {
  margin-top: 85px;
}
.newsfeed {
  background-color: grey;
  border-radius: 5px;
  max-width: 600px;
}

.post-box {
  background-color: white;
  overflow: hidden;
  min-height: 100px;
  max-height: 500px;
  min-width: 100%;
  border-top-style: solid;
  border-top-width: 0.5px;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-color: grey;
}

.post-box-time {
  float: right;
  right: 10;
  top: 10;
}
.post-box-username {
  float: left;
  right: 10;
  top: 10;
}

.post-box-content {
    min-height: 60px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    overflow: hidden;
}

.message-box-content {
    min-height: 30px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    overflow: hidden;
}

.col-xs-12.col-sm-6.col-md-8.messages{
  max-height: 70%;
  overflow: scroll
}
.jumbotron.messages {
    padding: 0.5em 0.6em;
}

.jumbotron.login{
  float: none;
  margin: 0 auto;
  margin-top: 2%;
  text-align: center;
  max-width: 400px;
  border-radius: 10px;
  background-color: #062E00;
  opacity: 0.8;
}

.btn.btn-lg.btn-default.conversations {
  min-width: 100%;
  min-height: 100px;
}
.vertical-center {
  display: flex;
  align-items: center;
}

.form-inline .form-group .form-control {
  min-width: 500px;
}
