/*body{
  background-image: url("background.jpg");
  background-position: center;
  background-size: cover;
}*/

.navbar.navbar-default {
  min-height: 80px;
  opacity: 0.6;

}

.jumbotron{
  float: none;
  margin: 0 auto;
  margin-top: 2%;
  text-align: center;
  max-width: 400px;
  border-radius: 10px;
  background-color: #062E00;
  opacity: 0.8;
}

.vertical-center {
  display: flex;
  align-items: center;
}
