<div class="container">
  <form class="form-inline">
    <div class="form-group">
      <input class="form-control" placeholder="What's on your mind?" type="text" ng-model="post.description">
      <button class="btn btn-default" ng-click="createPost(post)" >Post</button>
    </div>
  </form>
  <div class="newsfeed">
    <div class="post-box" ng-repeat="post in posts | orderBy: '-created_at'">
      <div class="post-box-username">
        <p> {{ post.user.name }} </p>
      </div>
      <div class="post-box-time">
        <p>{{post.created_at | amCalendar }}</p>
      </div>
      <div class="post-box-content">
        {{ post.description }}
      </div>
      <button ng-click="destroyPost(post.id)">Delete</button>
    </div>
  </div>
</div>
