<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <form class="form-inline">
            <div class="form-group">
              <input class="form-control" placeholder="What's on your mind?" type="text" ng-model="post.description">
              <button class="btn btn-default" ng-click="createPost(post)" >Post</button>
            </div>
          </form>
            <div class="jumbotron messages" ng-repeat="post in posts | orderBy: '-created_at'">
              <h4 class="post-box-username">
                {{post.user.name}}
              </h4>
              <h5 class="post-box-time">
                {{post.created_at | amCalendar }}
              </h5>
              <p class="message-box-content for-post">
                {{ post.description }}
              </p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
