<div id="custom-bootstrap-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <img alt="pathfinder" src="logo.png">
    </div>
    <div class="collapse navbar-collapse navbar-menubuilder">
      <ul class="nav navbar-nav navbar-left">
        <li><a ui-sref="home">Home</a>
        </li>
        <li><a ui-sref="profile">Profile</a>
        </li>
        <li><a ui-sref="messages">Messages</a>
        </li>
        <li><a ui-sref="users">Users</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" ng-click="handleSignOutBtnClick()">Logout</a>
        </li>
      </ul>

    </div>
  </div>
</div>
